In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline
import tensorflow as tf
from tensorflow import keras
# from sklearn.metrics import confusion_matrix , classification_report
import warnings
from sklearn.model_selection import train_test_split
warnings.filterwarnings('ignore')
tf.random.set_seed(1234)
import os
import random
from keras.layers import LeakyReLU

In [2]:
import pandas
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline
from keras.layers import Activation, Dense, Dropout
from sklearn.preprocessing import StandardScaler

In [3]:
os.environ['PYTHONHASHSEED']=str(1234)
tf.random.set_seed(1234)
np.random.seed(1234)
random.seed(1234)

In [4]:
df=pd.read_excel("data.xlsx")
df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,17.54,5.67,7.8,0.003,68.98,0.0,0.0,99.993,0.2,566,4.3,NaN,NaN,NaN,NaN,NaN
1,17.54,5.67,7.8,0.003,68.98,0.0,0.0,99.993,0.5,566,10.0,NaN,NaN,NaN,NaN,NaN
2,17.54,5.67,7.8,0.003,68.98,0.0,0.0,99.993,1.0,566,17.5,NaN,NaN,NaN,NaN,NaN
3,17.54,5.67,7.8,0.003,68.98,0.0,0.0,99.993,3.0,566,31.0,NaN,NaN,NaN,NaN,NaN
4,17.54,5.67,7.8,0.003,68.98,0.0,0.0,99.993,7.0,566,34.0,NaN,NaN,NaN,NaN,NaN

In [5]:
data= df[['X1','X2','X3','X4','X5','X6','X7','X8','X9','X10','X11']]

In [6]:
data.head()

      X1    X2   X3     X4     X5   X6   X7      X8   X9  X10   X11
0  17.54  5.67  7.8  0.003  68.98  0.0  0.0  99.993  0.2  566   4.3
1  17.54  5.67  7.8  0.003  68.98  0.0  0.0  99.993  0.5  566  10.0
2  17.54  5.67  7.8  0.003  68.98  0.0  0.0  99.993  1.0  566  17.5
3  17.54  5.67  7.8  0.003  68.98  0.0  0.0  99.993  3.0  566  31.0
4  17.54  5.67  7.8  0.003  68.98  0.0  0.0  99.993  7.0  566  34.0

In [7]:
X= data[['X1','X2','X3','X4','X5','X6','X7','X8','X9','X10']]

In [8]:
X.head()

      X1    X2   X3     X4     X5   X6   X7      X8   X9  X10
0  17.54  5.67  7.8  0.003  68.98  0.0  0.0  99.993  0.2  566
1  17.54  5.67  7.8  0.003  68.98  0.0  0.0  99.993  0.5  566
2  17.54  5.67  7.8  0.003  68.98  0.0  0.0  99.993  1.0  566
3  17.54  5.67  7.8  0.003  68.98  0.0  0.0  99.993  3.0  566
4  17.54  5.67  7.8  0.003  68.98  0.0  0.0  99.993  7.0  566

In [9]:
Y= data['X11']

In [10]:
Y.head()

0     4.3
1    10.0
2    17.5
3    31.0
4    34.0
Name: X11, dtype: float64

In [11]:
#We check the number of unique values in each column
a=['X1','X2','X3','X4','X5','X6','X7','X8','X9','X10']
for i in a:
    print(len(X[i].unique()))

18
17
17
8
18
17
9
14
55
52

In [12]:
from tensorflow.keras.optimizers import SGD

In [13]:
import numpy as np
from sklearn.svm import SVR
import matplotlib.pyplot as plt
import tensorflow as tf

In [14]:
opt = SGD(lr=0.01, momentum=0.9)
from sklearn.metrics import r2_score

In [18]:
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
import pandas as pd

In [22]:
from pandas import read_csv
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
# load dataset
# dataframe = read_csv("housing.csv", delim_whitespace=True, header=None)
# dataset = dataframe.values
# # split into input (X) and output (Y) variables
# X = dataset[:,0:13]
# Y = dataset[:,13]
# # define the model
def larger_model():
    # create model
#     model = Sequential()
#     model.add(Dense(20, input_dim=10, kernel_initializer='normal', activation='relu'))
#     model.add(Dense(10, kernel_initializer='normal', activation='relu'))
#     model.add(Dense(5, kernel_initializer='normal', activation='relu'))
#     model.add(Dense(1, kernel_initializer='normal'))
    os.environ['PYTHONHASHSEED']=str(1234)
    tf.random.set_seed(1234)
    np.random.seed(1234)
    random.seed(1234)
    reg_model = Sequential()
    a=reg_model.add(Dense(1, input_dim=10, activation=LeakyReLU(),kernel_initializer='normal'))
    reg_model.add(Dense(64, activation=LeakyReLU(),kernel_initializer='normal'))
#     reg_model.add(Dropout(0.2))
    reg_model.add(Dense(64, activation=LeakyReLU(),kernel_initializer='normal'))
    reg_model.add(Dense(, activation=LeakyReLU(),kernel_initializer='normal'))
    reg_model.add(Dense(1, activation='linear',kernel_initializer='normal'))
    reg_model.compile(loss='mae', 
                    optimizer='sgd')
    return reg_model
#evaluate model with min Max dataset
estimators = []
estimators.append(('standardise', StandardScaler()))
estimators.append(('mlp', KerasRegressor(build_fn=larger_model, epochs=200, verbose=1)))
pipeline = Pipeline(estimators)
kfold = KFold(n_splits=10)
results = cross_val_score(pipeline, X=X, y=Y, cv=kfold,scoring='r2')
print("Larger: %.2f (%.2f) R2" % (results.mean(), results.std()))

ValueError: 'mean_squared_error' is not a valid scoring value. Use sklearn.metrics.get_scorer_names() to get valid options.